name: schedule_dbt_job

on:
    push:
     branches:
    # run on push to development branch
     - dbt

env:
    DBT_PROFILES_DIR: ./
    DBT_SNOWFLAKE_ACCOUNT: ${{ secrets.DBT_SNOWFLAKE_ACCOUNT }}
    DBT_SNOWFLAKE_USERNAME: ${{ secrets.DBT_SNOWFLAKE_USERNAME }}
    DBT_SNOWFLAKE_PW: ${{ secrets.DBT_SNOWFLAKE_PW }}
    DBT_SNOWFLAKE_ROLE: ${{ secrets.DBT_SNOWFLAKE_ROLE }}

jobs:
    schedule_dbt_job:
        name: schedule_dbt_job
        runs-on: ubuntu-latest

        steps:
            - name: Check out
              uses: actions/checkout@master

            - uses: actions/setup-python@v1
              with:
                python-version: "3.9.x"

            - name: Install dependencies
              run: |
                pip install dbt-snowflake 
                dbt deps

       # dbt related commands here - run use --target prod/dev to run for specific environments
            - name: Run dbt models
              run: dbt run

            - name: Test dbt models
              run: dbt test
